-- Example 0
10
mihail
oolyana
kooooper
hoon
ulyana
koouper
mikhail
khun
kuooper
kkkhoon
--
4

-- Example 1
9
hariton
hkariton
buoi
kkkhariton
boooi
bui
khariton
boui
boi
--
5

-- Example 2
2
alex
alex
--
1

